@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 20%;
    --primary: 28 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 100% 70%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 20%;
    --accent: 28 100% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 93%;
    --destructive-foreground: 0 0% 20%;
    --border: 0 0% 80%;
    --input: 0 0% 98%;
    --ring: 28 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 136 80% 42%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
